body {
    margin: 0%;
 }
 
 header {
     background-color: cornflowerblue;
     background-image: url(img/pattern.png);
 }
 
 .logo {
     width: 15%;
     margin-top: 3%;
     margin-left: 1%;
     margin-bottom: 1%;
 }